/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --azul_escuro: #010b40;
  --azul_claro: #023759;
  --amarelo: #f5b942;
  --cinza: #2b373f;
  --branco_puro: #ffff;
  --branco: #e8f4ff;
  --fonte_Prosto: "Prosto One";
  --fonte_Jakarta: "Plus Jakarta Sans";
  --Fonte_Nunito: "Nunito";
}
